annotated-types==0.6.0
anyio==4.2.0
Bottleneck==1.3.7
Brotli==1.0.9
certifi==2024.8.30
charset-normalizer==3.3.2
distro==1.9.0
et-xmlfile==1.1.0
fuzzywuzzy==0.18.0
h11==0.14.0
httpcore==1.0.2
httpx==0.27.0
idna==3.7
Levenshtein==0.25.1
numexpr==2.8.7
numpy==1.26.4
openai==1.37.0
openpyxl==3.1.5
pandas==2.2.2
pip==24.2
pydantic==2.8.2
pydantic_core==2.20.1
PyPDF2==2.10.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2024.1
rapidfuzz==3.9.7
regex==2024.9.11
requests==2.32.3
setuptools==75.1.0
six==1.16.0
sniffio==1.3.0
tiktoken==0.7.0
tqdm==4.66.5
typing_extensions==4.11.0
tzdata==2023.3
urllib3==2.2.2
wheel==0.44.0
